{% extends 'base.html.twig' %}

{% block title %}Karte bearbeiten{% endblock %}

{% block body %}
    <h1>Karte bearbeiten</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Speichern</button>
    {{ form_end(form) }}
{% endblock %}
