{% extends 'base.html.twig' %}

{% block title %}Karteikartensystem{% endblock %}

{% block body %}
    <h2>Neue Karte erstellen</h2>

    <!-- Formular zum Hinzufügen einer neuen Karte -->
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Speichern</button>
    {{ form_end(form) }}

    <hr>

    <!-- Übersicht der Karten -->
    <h2>Karteikarten Übersicht</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Karte 1</th>
                <th>Karte 2</th>
                <th>Karte 3</th>
                <th>Karte 4</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {% for karte in karten %}
            <tr>
                <td>{{ karte.id }}</td>
                <td>
                    
                    <ol>
                    <h5>{{ karte.karte1 }}</h5>
                        {% for punkt in karte.karte1Unterpunkte|split(';') %}
                            <li>{{ punkt|trim }}</li>
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    
                    <ol>
                    <h5>{{ karte.karte2 }}</h5>
                        {% for punkt in karte.karte2Unterpunkte|split(';') %}
                            <li>{{ punkt|trim }}</li>
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    
                    <ol>
                    <h5>{{ karte.karte3 }}</h5>
                        {% for punkt in karte.karte3Unterpunkte|split(';') %}
                            <li>{{ punkt|trim }}</li>
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    
                    <ol>
                    <h5>{{ karte.karte4 }}</h5>
                        {% for punkt in karte.karte4Unterpunkte|split(';') %}
                            <li>{{ punkt|trim }}</li>
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    <a href="{{ path('karte_edit', {id: karte.id}) }}" class="btn btn-warning">Bearbeiten</a>
                    <a href="{{ path('karte_delete', {id: karte.id}) }}" class="btn btn-danger" onclick="return confirm('Möchten Sie diese Karte wirklich löschen?')">Löschen</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


