{% extends 'base.html.twig' %}

{% block title %}Neue Karte erstellen{% endblock %}

{% block body %}
    <h1>Neue Karte erstellen</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Speichern</button>
    {{ form_end(form) }}
{% endblock %}
